body{
    background-color: #CCCCCC;
    margin: 0;
}

#banner{
    width: 100%;
}
.principal{
    padding: 30px;
}
.titulo-principal{
    margin-left: 20px;
}
.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}
em strong{
    color: #FF0000;
}
.beneficios{
    padding: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.itens{
    font-style: italic;
}

.imgbeneficios{
    width: 50%;
}
